<button class="round-button" onclick="openForm()">
</button>

<div class="container" id="chatbox">
    <div class="chat-header">
        <div class="logo">
            <img src="/images/NCBud.png" alt="NCBud" />
        </div>
        <div class="title">NC Buddy</div>
    </div>
    <div class="chat-body"></div>
    <div class="chat-input">
        <div class="input-sec">
            <input type="text" id="txtInput" placeholder="Type here" autofocus />
        </div>
        <div class="send">
            <img src="/images/send-32.png" alt="send" />
        </div>
    </div>
</div>